<a href="https://colab.research.google.com/github/Sammy-Mutua/Independent_Project/blob/main/Copy_of_Moringa_Data_Science_Prep_W3_Independent_Project_2022_03_Samuel_Mutua.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
# Loading our data set
# 1.
from google.colab import files


uploaded = files.upload()

Saving cells_geo_description.xlsx to cells_geo_description.xlsx

In [ ]:
df1 = pd.DataFrame(pd.read_excel("cells_geo_description.xlsx"))
df1

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving cells_geo.csv to cells_geo.csv

In [ ]:
from pandas._libs.algos import diff_2d

df2 = pd.read_csv('cells_geo.csv',delimiter=';', names = ['City','Status','Locality','Geographical_Zone','Zone_Name','Longitude','Latitude','Region','Area','Cell_ID','Site_ID'])
df2.head()

,City,Status,Locality,Geographical_Zone,Zone_Name,Longitude,Latitude,Region,Area,Cell_ID,Site_ID
NaN,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
0.0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.00066666666667,5.36819444444444,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1.0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.00066666666667,5.36819444444444,LAGUNE,NaN,1502501d78,0bb492ef17
2.0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.00066666666667,5.36819444444444,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3.0,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.48846666666667,5.15876111111111,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving CDR_description.xlsx to CDR_description.xlsx

In [ ]:
df3 = pd.DataFrame(pd.read_excel("CDR_description.xlsx"))
df3

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving Telcom_dataset.csv to Telcom_dataset (1).csv

In [ ]:
df4 = pd.read_csv('Telcom_dataset.csv')

df4.head()

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving Telcom_dataset2.csv to Telcom_dataset2 (1).csv

In [ ]:
df5 = pd.read_csv('Telcom_dataset2.csv')

df5.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,+laSrk7g6q,+laSrk7g6q
3,Voice,37,2012-05-07 23:04:48.0,1,3f9c8a33ec7be1f,7d05a38f89c49d8,19e2e,19e2e,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,2012-05-07 23:04:58.0,1,7bcccc03adf3864,56a5d5430d2fa86,19e2e,19e2e,+bO+qkSonO,+bO+qkSonO

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving Telcom_dataset3.csv to Telcom_dataset3.csv

In [ ]:
df6 = pd.read_csv('Telcom_dataset3.csv')
df6.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELLID,SIET_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,2012-05-08 23:03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,22,2012-05-08 23:03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA

**DATA CLEANING**

In [ ]:
df2. drop(df2. index[0])

,City,Status,Locality,Geographical_Zone,Zone_Name,Longitude,Latitude,Region,Area,Cell_ID,Site_ID
0.0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.00066666666667,5.36819444444444,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1.0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.00066666666667,5.36819444444444,LAGUNE,NaN,1502501d78,0bb492ef17
2.0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.00066666666667,5.36819444444444,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3.0,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.48846666666667,5.15876111111111,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f
4.0,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.48846666666667,5.15876111111111,SUD COMOE,NaN,7a1029d2ab,8a1e6ce31f
...,...,...,...,...,...,...,...,...,...,...,...
3969.0,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.03969444444444,7.42861111111111,MARAHOUE,CENTRE NORTH,1cfc2d7ab1,f91ed8d2e9
3970.0,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.03969444444444,7.42861111111111,MARAHOUE,CENTRE NORTH,3ae1708153,f91ed8d2e9
3971.0,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.06545,7.44459166666667,MARAHOUE,CENTRE NORTH,cb71f8a29c,61bee9c70c
3972.0,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.06545,7.44459166666667,MARAHOUE,CENTRE NORTH,d4a6a0b645,61bee9c70c
3973.0,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.06545,7.44459166666667,MARAHOUE,CENTRE NORTH,f9f3e42589,61bee9c70c

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID,PRODUCT,DATE_TIME,CELLID,SIET_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu,NaN,NaN,NaN,NaN
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41,NaN,NaN,NaN,NaN
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi,NaN,NaN,NaN,NaN
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3,NaN,NaN,NaN,NaN
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv,NaN,NaN,NaN,NaN

In [ ]:
df4 = pd.read_csv('Telcom_dataset.csv')

df4.head()

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv

In [ ]:
df5 = pd.read_csv('Telcom_dataset2.csv')

df5.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,+laSrk7g6q,+laSrk7g6q
3,Voice,37,2012-05-07 23:04:48.0,1,3f9c8a33ec7be1f,7d05a38f89c49d8,19e2e,19e2e,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,2012-05-07 23:04:58.0,1,7bcccc03adf3864,56a5d5430d2fa86,19e2e,19e2e,+bO+qkSonO,+bO+qkSonO

In [ ]:
df6 = pd.read_csv('Telcom_dataset3.csv')

df6.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELLID,SIET_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,2012-05-08 23:03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,22,2012-05-08 23:03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA

In [ ]:
combined = pd.concat([df4,df5,df6], ignore_index = 1)
combined.tail()

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID,PRODUCT,DATE_TIME,DW_A_NUMBER,DW_B_NUMBER,CELLID,SIET_ID
14998,NaN,0,NaN,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,NaN,NaN,Voice,2012-05-09 00:01:43.0,NaN,NaN,2aa04dcab7,f7d63a29e5
14999,NaN,62,NaN,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,NaN,NaN,Voice,2012-05-09 00:01:43.0,NaN,NaN,7f1f2f889f,b4ddb9e93c
15000,NaN,32,NaN,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,NaN,NaN,Voice,2012-05-09 00:01:43.0,NaN,NaN,a4731e780e,d68260ef50
15001,NaN,30,NaN,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,NaN,NaN,Voice,2012-05-09 00:01:43.0,NaN,NaN,98ed726da2,b4130b54ab
15002,NaN,60,NaN,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,NaN,NaN,Voice,2012-05-09 00:01:43.0,NaN,NaN,1c11a2fcbb,6d70dae094

**DATA UNDERSTANDING**

In [ ]:
print(df2.info())
print(df2.describe())

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3975 entries, nan to 3973.0
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               3975 non-null   object
 1   Status             3908 non-null   object
 2   Locality           3975 non-null   object
 3   Geographical_Zone  3975 non-null   object
 4   Zone_Name          3969 non-null   object
 5   Longitude          3975 non-null   object
 6   Latitude           3975 non-null   object
 7   Region             3975 non-null   object
 8   Area               3952 non-null   object
 9   Cell_ID            3975 non-null   object
 10  Site_ID            3975 non-null   object
dtypes: object(11)
memory usage: 501.7+ KB
None
          City      Status   Locality Geographical_Zone             Zone_Name  \
count     3975        3908       3975              3975                  3969
unique     505           2          3                16                    34
top     COCODY  In Service  INTERIEUR       Grand-OUEST  ZONE D - Grand-OUEST
freq       354        3907       2305               528                   527

                Longitude          Latitude  Region           Area  \
count                3975              3975    3975           3952
unique               1014              1026      20              7
top     -3.97861111111111  5.32316666666667  LAGUNE  ABIDJAN NORTH
freq                   12                12    1850           1222

           Cell_ID     Site_ID
count         3975        3975
unique        3917        1030
top     6750e0fb7b  20387d4292
freq            39          42

In [ ]:
print ("There are ", df2.Locality.nunique(), "Unique Localities  " "out of " , df2.Locality.count())
print ("There are ", df2.Area.nunique(), "Unique Area  out of " , df2.Area.count())
print ("There are  ", df2.Geographical_Zone.nunique(), "Unique Geographical_Zone out of " , df2.Geographical_Zone.count())
print ("There are ", df2.Region.nunique(), "Unique Regions  out of " , df2.Region.count())
print ("There are ", df2.City.nunique(), "Unique cities out of " , df2.City.count())
print ("There are ", df2.Site_ID.nunique(), "Unique Site_Id  out of " , df2.Site_ID.count())
print ("There are", df2.Cell_ID.nunique(), " Unique Cell_ID out of " , df2.Cell_ID.count())

There are  3 Unique Localities  out of  3975
There are  7 Unique Area  out of  3952
There are   16 Unique Geographical_Zone out of  3975
There are  20 Unique Regions  out of  3975
There are  505 Unique cities out of  3975
There are  1030 Unique Site_Id  out of  3975
There are 3917  Unique Cell_ID out of  3975